@import './base.css';

.nav-link {
  color: var(--main-secondary);
  font-family: 'Raleway';
  font-weight:1000;
}

h1, h2, h3, h4, h5, p, a {
  color:var(--main-secondary);
}

.new-button {
  display: block;
  background-color: #457B9D;
  color: #F1FAEE;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Raleway';
  font-weight: normal;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.new-button:hover {
  background-color: #457B9D;
}
/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
