$nav-tabs-link-active-color: #F1FAEE !important;
$nav-tabs-link-active-bg: #76AABC !important;
$nav-link-color: #1D3557 !important;
$pagination-bg: none !important;
$pagination-border-width: 0 !important;
$pagination-active-bg: #457B9D !important;
$table-th-font-weight: bold !important;
@import 'bootstrap/scss/bootstrap.scss';
